.layout {
    &-topbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 4rem;
        transition: width var(--transition-duration);
        display: flex;
        justify-content: space-between;
        color: var(--topbar-item-text-color);
        background: var(--topbar-bg);
        box-shadow: 0 1px 2px #0000001f, 0 4px 5px #00000024, 0 2px 4px -1px #0003;

        & > div {
            display: flex;
            align-items: center;
        }

        &-userfield {
            padding: 0px 30px;
            gap: 9px;
        }

        &-text {
            margin-left: 3px;
            padding: 12px 0px;

            &__h2 {
                font-family: "arial" !important;
                font-size: 22px;
                font-weight: 600;
                margin: 0;
            }

            &__h3 {
                font-family: "arial" !important;
                font-size: 15px;
                font-weight: 500;
                margin: 0;
            }
        }

        &__img {
            margin-left: 5px;
            height: 45px;
            padding: 9px;
            width: 45px;
        }
    }

    &-wrapper {
        margin-left: 15rem;
        padding-top: 4rem;
        transition: margin-left .3s cubic-bezier(0, 0, .2, 1);

        @media (max-width: 700px) {
            margin-left: 0px;
        }

        &-header {
            align-items: center;
            background-color: var(--surface-card);
            box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1.6rem;
        }

        &-content {
            background-color: #f1f5f9;
            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            display: flex;
            min-height: calc(100vh - 11.28rem);
            padding: 2rem;
            justify-content: center;
        }
    }
}